@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  @font-face {
    font-family: 'Proxima Nova';
    src: url('../public/fonts/proximanova-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('../public/fonts/proximanova-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
  }

  body {
    margin: 0;
    font-family: "Proxima Nova", system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}
